body {font: 1em sans-serif;}
h1 { font-size: 50px;}
h1 {padding-right: 60;}
h1 { text-align: center;
h1 { line-height: 1.2;}
h1 { color: #285250;}
h2 { font-size: 30px;}
h2 { text-align: center;}
h2 { padding-bottom: 20;}

